main {
    width: 100dvw;
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    background: #222222;
    display: flex;
    outline: solid 1px #3a3a3a;
}

/* LEFT PANEL */

.left-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 15em;
    min-width: 5em;
    width: 100%;
    padding: 3px;
    background: #2a2a2a;
    /* overflow-y: hidden; */
}

.account-wrapper {
    padding: 7px 10px 7px 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #040404;
    display: flex;
    gap: 5px;
    align-items: center;
}

.acc-wrapper-prof-photo{
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.account-wrapper:hover{
    outline: 1px solid#7d7d7d;
}

.current-user_name {
    cursor: pointer;
}

.search-wrapper input {
    width: 100%;
    background: #1f1f1f;
    border-radius: 15px;
    border: none;
    padding: 5px 15px;
    outline: solid 1px #434343;
}

.search-wrapper input:focus {
    outline: solid 1px #919191;
}

.chat-list-wrapper {
    position: relative;
    flex: 1;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0.2em 0;
    border-radius: 5px;
    overflow-y: auto;
    /* scroll-behavior: smooth; */
}

.chat-list,
.result-list {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 3px;
    /* overflow-y: scroll; */
}

.chat-item {
    padding: 7px;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    border-radius: 7px;
    cursor: pointer;
}

.chat-item:hover {
    outline: solid 1px #484848;
    background: #2b2b2b;
}

.chat-item__profile-photo {
    position: relative;
    min-height: 2.1em;
    min-width: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #3d009f; */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.chat-item__profile-photo::after {
    content: '';
    display: none;
    position: absolute;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    background: rgb(170, 170, 170);
}

.chat-item.user-online .chat-item__profile-photo::after {
    display: block;
    background: rgb(0, 255, 0);
}

.chat-item__username-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-item__unread-label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 30px;
    background: #0067cd;
    border-radius: 15px;
}

#logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 7px;
    background: #1d1d1d;
    cursor: pointer;
    border: none;
    outline: solid 1px #505050;
}

#logout-btn:hover {
    outline: solid 1px #7f7f7f;
    background: #191919;
}


.empty-label {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.empty-label span {
    color: darkgray;
    font-size: 15pt;
    text-align: center;
}

/* RIGHT PANEL */

.right-panel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(41, 41, 41);
    background: linear-gradient(153deg, rgba(41, 41, 41, 1) 0%, rgba(22, 22, 22, 1) 50%, rgba(41, 41, 41, 1) 100%);
}


.chat-name_wrapper {
    position: relative;
    width: 100%;
    display: flex;  
    z-index: 10;
    background: #1a1a1a;
}

.chat-exit-btn{
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    max-width: 2.5em;
    padding: 0.5em 0.7em;
}

.chat-exit-btn svg{
    fill: #919191;
    height: 1em;
}

.companion-info{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.chat-name__profile-photo {
    position: relative;
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.chat-name__profile-photo::after {
    content: '';
    position: absolute;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    background: rgb(170, 170, 170);
}

.companion-info.user-online .chat-name__profile-photo::after {
    background: rgb(0, 255, 0);
}


.chat-name__username span {
    font-size: 20pt;
}


.new-message_wrapper {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: .3em;
    max-width: 800px;
}

#new-message_input {
    max-width: 100%;
    width: 100%;
    background: #1f1f1f;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    outline: solid 1px #434343;
}

#new-message_input:focus {
    outline: solid 1px #919191;
}

#new-message_input.unfilled {
    outline: solid 1px red;
}

#new-message_send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    color: #fff;
    background: #4400b1;
    border: none;
    outline: solid 1px #330085;
}

#new-message_send-button:hover {
    background: #2a006e;
}

#new-message_send-button:active {
    background: #210056;
}

#new-message_send-button svg{
    fill: #fff;
    height: 1em;
    width: fit-content;
}

.chat-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    /* testing */
    max-width: 800px;
}

.chat-scrollable {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    min-height: 100%;
    min-height: max-content;
    gap: 5px;
    padding: 20px;
    padding-top: 3dvh;
    transition: height .15s;
}


.message {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 80%;
    background: #2a2a2a;
    font-size: 1em;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    transition: transform .1s;
    transform-origin: left;
}

.message::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -9px;
    bottom: 0px;
    border-bottom: 10px solid #2a2a2a;
    border-left: 10px solid transparent;
}

.message>span {
    padding: 5px 10px 0 10px;
}

.message .msg-meta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3px;
    padding: 0 10px 5px 4px;
    max-height: 1em;
    font-size: 13pt;
    color: #c8c8c8;
    user-select: none;
}

.message.my-msg .msg-meta {
    justify-content: end;
    padding: 0 4px 5px 10px;

}

.sent-at-time {
    font-size: 1em;
}

.delivery-status,
.delivery-status-succeeded {
    display: none;
    max-height: 0.7em;
}

.delivery-status-succeeded {
    position: absolute;
    right: -1px
}

.message.my-msg {
    background: #2b0081;
    align-self: flex-end;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    transform-origin: right;
}

.message.my-msg::before {
    left: auto;
    right: -10px;
    border-bottom: 10px solid #11008e;
    border-right: 10px solid transparent;
}

.message.my-msg .msg-meta {
    align-self: flex-end;
}

.message.my-msg .delivery-status,
.message.my-msg .delivery-status-succeeded {
    display: block;
}

.message.my-msg.unread .delivery-status-succeeded {
    display: none;
}

.message.msg-minimized {
    transform: scale(0);
    transform-box: content-box;
}

.unread-msgs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.unread-msgs-section>div {
    background: #e4e4e4;
    border-radius: 15px;
    height: 3px;
    max-width: 20%;
    width: 100%;
    margin: 10px;
}

.unread-msgs-section-label {
    padding: 3px 10px;
    text-align: center;
    background: #e4e4e4;
    min-width: fit-content;
    color: #000000;
    border-radius: 15px;
}

.to-last-msg-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    padding-top: 3px;
    background: #6d6d6d;
    border-radius: 50%;
    border: 1px solid #313131;
    box-shadow: 0 2px 5px #000;
    transition: .1s;
}

.to-last-msg-btn:hover {
    border: 1px solid #2d0076;
    background: #4400b1;
}

.to-last-msg-btn>svg>path {
    stroke: #000000;
}

.to-last-msg-btn:hover>svg>path {
    stroke: #fff;
}

.to-last-msg-btn.minimized{
    transform: scale(0);
}

.date-divider {
    display: flex;
    justify-content: center;
    margin: 15px 0 10px 0;
    /* padding-top: 15px; */
}

.date-divider>span {
    padding: 3px 10px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 18pt;
    text-align: center;
}


/* user info section */

.full-screen-container {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5)
}

.user-info_wrapper {
    position: relative;
    max-width: 20em;
    width: 100%;
    border-radius: 15px;
    background: rgb(32, 32, 32);
    transition: 0.1s;
    overflow: auto;
    max-height: 97dvh;
}

.user-info_wrapper > * {
    width: 100%;
}

.user-info_wrapper > form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}


.user-info_wrapper.minimized {
    transform: scale(0.9);
}

.user-info__title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.7);
}

.user-info__profile-photo {
    height: 20em;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.credentials-container {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.credentials-container .field {
    position: relative;
    padding: 0.4em;
    background: #292929;
    font-size: 1em;
    border: none;
}

/* .credentials-container .field::before{
    position: absolute;
    bottom: 0;
    left: .6em;
    font-size: .6em;
    color: #939393;
} */

/* .credentials-container .full-name::before {
    content: "повне ім'я";    
}
.credentials-container .username::before {
    content: "логін";    
}
.credentials-container .email::before {
    content: "e-mail";    
}
.credentials-container .password::before {
    content: "пароль";    
} */


.user-info_send-msg-btn {
    margin-top: 3px;
    padding: 0.5em;
    text-align: center;
    background: #390095;
    transition: 0.2s;
    outline: none;
    border: none;
}

.user-info_send-msg-btn:hover,
.big-profile-btn.main-btn:hover {
    background: #270067;
}

.user-info_send-msg-btn:active,
.big-profile-btn.main-btn:active {
    background: #1f0050;
}

.unfold-pass-fields-btn{
    margin-top: 0.1em;
    padding: .1em .3em;
    cursor: pointer;
}

.unfold-pass-fields-btn:hover{
    text-decoration: underline;
}

.big-profile-btn{
    margin-top: 3px;
    padding: 0.3em;
    text-align: center;
    background: #191919;
    transition: 0.2s;
    outline: none;
    border: none;
}

.big-profile-btn:hover{
    background: #000;
}

.big-profile-btn.main-btn{
    background: #390095;
}

.no-network-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20em;
    width: 100%;
    padding: 50px 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.context-menu{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    overflow: hidden;
    z-index: 70;
}

.context-menu-item{
    padding: 0.2em 0.5em;
    cursor: pointer;
    white-space: nowrap;
}


.context-menu-item:hover{
    background: #1d1d1d;
}

.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.translucent{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}

.pop-up-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    max-width: 15em;
    font-size: 1em;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    padding: 0.2em 1em;
    border-radius: .5em;
    
    z-index: 100;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    opacity: 0.7;
}

/* Track */
::-webkit-scrollbar-track {
    background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6d6d6d;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.hidden {
    display: none;
}